{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Website Title & Description for Search Engine purposes -->
    {% block title %}<title>ATS</title>{% endblock %}
    <meta name="description" content="">
    <meta charset="utf-8">

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Base CSS -->
    <link href="{% static 'css/common/base.css' %}" rel="stylesheet">

    <!-- Custom Button CSS -->
    <link href="{% static 'css/common/button.css' %}" rel="stylesheet">

    <!-- Custom app/module CSS-->
    {% block style %}{% endblock %}

    <link rel="shortcut icon" href="{% static 'images/common/favicon.ico' %}" type="image/x-icon" />

    <!-- Include Modernizr in the head, before any other Javascript -->
    <script src="{% static 'bootstrap/js/modernizr-2.6.2.min.js' %}"></script>
</head>

<body>

    <div class="container">

        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <!-- Inside container but still occupies full-width because its positioned fixed -->
            <div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavbar" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Airport Terminal Services</a>
                </div><!-- end navbar-header-->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="topNavbar">
                    <ul class="nav navbar-nav">

                        <li class="{% block about_us_active %}{% endblock %}"><a href="#">About Us</a></li>
                        <li class="dropdown {% block services_active %}{% endblock %}">

							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<span class="caret"></span></a>
							<ul class="dropdown-menu">
                                <li><a href="flights">Flight Info</a></li>
								<li><a href="#">Parking</a></li>
								<li><a href="#">Baggage Handl.</a></li>
								<li><a href="#">Retiring Rooms</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Terminals</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">More Services</li>
								<li><a href="#">Cargo Ship.</a></li>
								<li><a href="#">Maintenance</a></li>
							</ul><!--end opened-menu-->

						</li><!--end dropdown list-->
                        <li><a href="/contact" class="{% block contact_us_active %}{% endblock %}">Contact Us</a></li>
                        <li><a href="/staff" class="{% block staff_active %}{% endblock %}">Staff</a></li>

                    </ul><!--end nav ul lisr-->

                    <ul class="nav navbar-nav navbar-right">

                        {% if request.user.is_authenticated %}
                            <li><a href="#">Hello,
                                {{ request.user.username }}
                            </a></li>

                            <li class="dropdown">

    							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Account<span class="caret"></span></a>
    							<ul class="dropdown-menu">
                                    <li><a href="#">Profile</a></li>
    								<li><a href="#">Logout</a></li>
    							</ul><!--end opened-menu-->

    						</li><!--end dropdown list-->

                        {% else %}
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
                        {% endif %}

                    </ul><!-- end nav-ul -->

                </div><!--end navbar-collapse-->

            </div><!-- end navbar content container-->
        </nav><!-- end navbar -->




        <div class="row actual_content">
            {% block content %}
            Add your content here.
            {% endblock %}
        </div>


    </div><!-- end global container-->



    <footer>

        <div class="container">

            <div class="row">

                <div class="col-sm-2">
                    <h6>Copyright &copy; 2017 AAI</h6>
                </div><!-- end sol-sm-2-->

                <div class="col-sm-4">
					<h6>About Us</h6>
					<p>ATS is a system to digitise the services offered by an airport terminal, for both both passengers and employees.</p>
				</div><!--end col-sm-4-->

                <div class="col-sm-2">
					<h6>Navigation</h6>
					<ul class="unstyled">
						<li><a href="/">Home</a></li>
						<li><a href="/services/">Services</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
				</div><!--end colsm-2-->

                <div class="col-sm-2">
					<h6>Follow Us</h6>
					<ul class="unstyled">
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Google+</a></li>
					</ul>
				</div><!--end colsm-2-->

                <div class="col-sm-2">
					<h6>Coded with <span class="glyphicon glyphicon-heart"></span> by AAI Interns 2017</h6>

				</div><!--end colsm-2-->

            </div><!--end row-->

        </div><!--end footer container-->

    </footer><!-- end footer-->



    <!-- All Javascript at the bottom of the page for faster page loading -->

	<!-- First try for the online version of jQuery-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<!-- If no online access, fallback to our hardcoded version of jQuery -->
	<script>window.jQuery || document.write('<script src="{% static 'bootstrap/js/jquery-3.2.1.min.js' %}"><\/script>')</script>

	<!-- Bootstrap JS -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

	<!-- Custom Base JS -->
	<script src="{% static 'js/common/base.js' %}"></script>

    <!-- Custom app/module JS-->
    {% block script %}{% endblock %}

</body>
</html>