{% extends 'common/base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/common/static.css' %}">
{% endblock %}

{% block content %}

<div class="col-sm-12">

    <h3>VISIT US</h3>

    <p><strong>Address:</strong> Delhi Flying Club Road, Safdarjung Airport Area, Satya Sadan, New Delhi, Delhi
        110003</p>
    <p><strong>Nearest Metro Station:</strong> Jor Bagh </p>
    <p><strong>Phone:</strong>011 2461 1077 </p>

    <h3>On Site </h3>

    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
    <div class="box-shadow" id='gmap_canvas' style='height:420px;width:100%;'></div>
    <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
    <script type='text/javascript'>
            function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(28.5809905,77.20720299999994),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(28.5809905,77.20720299999994)});infowindow = new google.maps.InfoWindow({content:'<strong>Airports Authority of India</strong><br>Delhi Flying Club Road, Safdarjung Airport Area, Satya Sadan, New Delhi, Delhi 110003<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);


    </script>

</div>
{% endblock %}