{% extends 'common/base.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/common/static.css' %}">
{% endblock %}

{% block content %}

<h4 style="text-align: center; color: black;">This website has been brought to you by AAI - IT
    Department's Interns</h4>

<div class="col-sm-12 container">

    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="www.linkedin.com/in/abhishek-nigam25"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>

    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://in.linkedin.com/in/iamrachitgulati"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>

    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/lakshay-suri-0bb0a2114"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>

    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/ojaswa-singh-694313147"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>


    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/yogeshkumardtu14"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>

    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/jitesh-gupta-7386b3b0"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>

    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/srishti-kanojia-b83468147/"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>
    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/shruti-bindal-391515116"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>
    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/abhishek-garg-591987130"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>

    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/manya-ahuja-4b7467147/"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>

    <div class="col-sm-6 padding">
        <center>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/karishma-agrawal-710629b6"
                    data-format="inline" data-related="false"></script>
        </center>
    </div>
</div><!-- end profiles containing column-->
{% endblock %}