<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services at ATS</title>
</head>
<body>
{% extends 'common/base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/flight_info/list_flights.css' %}">
{% endblock %}

{% block content %}

<div class="col-sm-12" >

    <div class="row page-header">
        <h2>Our Services</h2>
        </div>

            <div style=" width:25%; height:50%; float:left; padding: 100px">
                <a href="/flights"> <button class = "myButton">Flights Schedule    </button> </a>
            </div>

            <div style=" width:25%; height:50%; float:right; padding: 100px">
                <a href="/parking/"> <button class = "myButton">Parking Services</button></a>
            </div>

            <div style=" width:25%; height:50%; float:left; padding: 100px">
                <a href="/baggage_handling/"><button class = "myButton">Baggage Handling</button></a>
            </div>

            <div style= "width:25%; height:50%; float:right; padding: 100px">
                <a href="/book/show/"><button class = "myButton">Retiring Rooms</button></a>
            </div>

            <div style=" width:25%; height:50%; float:left; padding: 100px">
                <a href="/#"><button class = "myButton">Security Services</button></a>
            </div>

            <div style=" width:25%; height:50%; float:right; padding: 100px">
                <a href="/#"><button class = "myButton">Terminals Information</button></a>
            </div>

            <div style=" width:25%; height:50%; float:left; padding: 100px">
                <a href="/cargo/"><button class = "myButton">Cargo Shipment</button></a>
            </div>

            <div style=" width:25%; height:50%; float:right; padding: 100px">
                <a href="/maintenance/"><button class = "myButton">Maintenance Services</button></a>
            </div>



</div>
{% endblock %}
</body>
</html>