<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AAI Interns</title>
</head>
<body>
{% extends 'common/base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/flight_info/list_flights.css' %}">
{% endblock %}

{% block content %}

<div class="col-xs-12" style='background-image: url("/static/images/common/staff_back_img.png");'>

    <div class="row page-header">

            <h3 style="text-align: center;">This website has been brought to you by AAI - IT Department's Interns</h3>
            <br/>

            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="row">



                        <div class="col-lg-6">

                            <p>
                                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                                <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/karishma-agrawal-710629b6" data-format="inline" data-related="false"></script>
                            </p>

                            <p>
                                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                                <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/lakshay-suri-0bb0a2114" data-format="inline" data-related="false"></script>
                            </p>

                            <p>
                                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                                <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/shruti-bindal-391515116" data-format="inline" data-related="false"></script>
                            </p>


                            <p> Srishti </p>

                            <p> Ojas </p>

                        </div>

                        <div class="col-lg-6">

                            <p>
                                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                                <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/yogeshkumardtu14" data-format="inline" data-related="false"></script>
                            </p>

                            <p>
                                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                                <script type="IN/MemberProfile" data-id="www.linkedin.com/in/abhishek-nigam25" data-format="inline" data-related="false"></script>
                            </p>

                            <p>
                                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                                <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/jitesh-gupta-7386b3b0" data-format="inline" data-related="false"></script>
                            </p>

                            <p>
                                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                                <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/abhishek-garg-591987130" data-format="inline" data-related="false"></script>
                            </p>

                            <p> Rachit </p>

                        </div>



                    </div>
                </div><!-- end profiles containing column-->
            </div><!-- end profiles row-->


            <p><!--Insert your embed code here--></p>

            <p><!--Insert your embed code here--></p>

            <p><!--Insert your embed code here--></p>

            <p><!--Insert your embed code here--></p>

            <p><!--Insert your embed code here--></p>
    </div>
</div>
{% endblock %}
</body>
</html>