#logo
{
    color:white;
	font-family:sans-serif;
	font-size:large;
	font-weight:bold;
	letter-spacing: 1.2px;
}

#bar
{
	background:#1a237e;
	border-style:solid;
	border-color:#e8eaf6;
	cursor:pointer;
	position:fixed;
}

.tabs
{
    font-family:sans-serif;
    font-size:medium;
    font-weight:bold;
}

.row
{
    margin-top:50px;
}