/*  ******************
    Global styles
    ******************
*/

html {
    height: 100%; /*So that its children elements can have height in %*/
}

body {
    font-family: 'Open Sans', sans-serif;

    /*Added for fixing footer to bottom of page*/
    min-height: 100%;
    position: relative; /*So that we can absolutely position footer inside it*/
}

/*  ******************
    Navbar Styles
    ******************
*/

.navbar {
    background-color: #0B0B61;
}

/* For styling normal nav elements*/
.navbar .nav li a {
    color: #EEE;
}
.navbar .nav li a:hover {
    color: #A9E2F3;
}

/* Styling to override default style for active class*/
.navbar .navbar-nav li.active a {
    background-color: #0B0B61;
    border-bottom: 4px solid #0080FF;
}
.navbar .navbar-nav li.active a:hover {
    background-color: #0B0B61;
    color: #A9E2F3;
}
.navbar .navbar-nav li.active a:focus{
    background-color: #0B0B61;
    color: #A9E2F3;
}

/* For styling nav brand elements*/
.navbar .navbar-brand {
    color: #EEE;
    font-size: 20px;
}
.navbar .navbar-brand:hover {
    color: #A9E2F3;
}

@media (max-width: 450px) {

    .navbar .navbar-brand {
        font-size: 17px;
    }
}
@media (max-width: 329px) {

    .navbar .navbar-brand {
        font-size: 14px;
    }
}


/* Styling navbar toggle*/
.navbar .navbar-toggle {
    border-color: #EEE;
}
.navbar .navbar-toggle:hover {
    background-color: #29088A;
}
.navbar .navbar-toggle:focus {
    background-color: #29088A;
}

/*Putting border on the right in collapsed state*/
@media (max-width: 768px) {
    .navbar .navbar-nav li.active a {
        border-bottom: 0;
        border-left: 4px solid #0080FF;
    }
}

/*Styling the dropdown*/

/*Overriding default bootstrap styles*/
.navbar .nav .dropdown.open > a { /*When the drop-down button is clicked*/
    background-color: #0B0B61;
    color: #A9E2F3;
}

.navbar .nav .dropdown .dropdown-menu {
    background-color: #0B0B61;
}

.navbar .nav .dropdown .dropdown-menu a {
    color: #EEE;
}
.navbar .nav .dropdown .dropdown-menu a:hover {
    color: #A9E2F3;
    background-color: #0B0B61;
}

.navbar .nav .dropdown .dropdown-menu .divider {
    background-color: #A9D0F5;
}

.navbar .nav .dropdown .dropdown-menu .dropdown-header {
    color: #A9D0F5;
}

/* Stopping navbar from breaking into 2 lines in sm size screens*/

@media (max-width: 994px) {

    .navbar .nav li a {
       padding-left: 6px;
       padding-right: 6px;
       font-size: 13px;
    }
}


/*  ******************
    Content
    ******************
*/


.actual_content {
    margin: 70px 15px 0 15px;

    /*Added for fixing footer to bottom of page*/
    /*Increase this value if footer is covering any content*/
    padding-bottom: 30em;
}

/*  ******************
    Footer Styles
    ******************
*/

footer {
    background: #333;
    color: #EEE;
    font-size: 12px;
    padding: 20px;

    /*Added for fixing footer to bottom of page*/
    position: absolute;
    bottom: 0;
    width: 100%;

    /* height: 12em; // Not adding constant height, because footer takes different size in xs resolution */
}

ul.unstyled{
    list-style: none;
    padding: 0;
}

ul.unstyled li a{
    padding: 5px 0;
    color: #58ACFA;
}
