<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deleted Force Employee Member</title>
</head>
<body>

{% extends 'common/base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/flight_info/list_flights.css' %}">
{% endblock %}

{% block content %}

<!--need to add this, as its enclosed in a table-->
<div class="col-sm-12">

    <div class="row page-header">
        <div class="col-sm-8">
            <h3>This Force Employee Member Has Been Deleted</h3><br>
        </div>
        <div class="col-sm-4">

            <form id="search" method="GET" action="">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.GET.q }}">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">




                        <div class="table-responsive">

                            <table class="table table-bordered table-hover">
                                <thead>
                                     <th>Force Employee ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Experience</th>
                                    <th>License no</th>
                                    <th>Phone No</th>
                                    <th>Flights</th>
                                </thead>
                                <tbody>

                                    <tr class="
                                                {% if airline.pilot == True %}
                                                        success
                                                    {% else %}
                                                    info
                                                {% endif %}
                                              ">
                                        <td>{{ crew.crew_id }}</td>
                                        <td>{{ crew.name }}</td>
                                        <td>
                                            {% if crew.pilot == True %}
                                                    <div class="label label-success"><span>Pilot</span></div>
                                            {% else %}
                                                <div class="label label-info"><span>Crew</span></div>
                                            {% endif %}
                                        </td>
                                        <td>{{ crew.experience }}</td>
                                        <td>{{ crew.license_no }}</td>
                                        <td>{{ crew.ph_no }}</td>
                                        <td>
                                            {% for flight in crew.flights.all %}
                                                {{ flight.flight_no }}&nbsp;
                                            {% empty %}
                                                Not assigned
                                            {% endfor %}
                                        </td>
                                        <td>{{ crew.photo }}</td>
                                        <td>DELETED</td>

                                    </tr>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
         </div>
    </div>

</div>
<br/>
<a href="../../"> <button name="back" class="myButton">Back to All Force Employee Members</button></a>
{% endblock %}

</body>
</html>
