<!DOCTYPE html>
<html>
<title>Cargo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/cargo" class="w3-bar-item w3-button w3-theme-l1">HOME</a>
    <a href="/cargo/add" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Book Cargo</a>
    <a href="/cargo/cargolist" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Cargo List</a>
    <a href="/cargo/aboutus" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About us</a>
    <a href="/cargo/helpandsupport" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Help and Support</a>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:43px;" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Quick Links</b></h4>
<a class="w3-bar-item w3-button w3-hover-black" href="/cargo/guideline">Guideline</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/cargo/procedure">Cargo Procedure</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/cargo/faretable">Fare Table</a>
   <a class="w3-bar-item w3-button w3-hover-black" href="/cargo/export">Export Cargo</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/cargo/disclaimer">Disclaimer</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/cargo/faq">FAQ</a>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">

<style>
       table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 125%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<table>
  <tr>
    <th>Type of Cargo</th>
    <th>Rate per kg</th>
    <th>Minimum rate per consignment</th>
  </tr>
  <tr>
    <td>General</td>
    <td>Rs. 0.70</td>
    <td>Rs. 120</td>
  </tr>
  <tr>
    <td>Special(Hazardous/Cold Storage)</td>
    <td>Rs 1.40</td>
    <td>Rs 235</td>
  </tr>
  <tr>
    <td>Perishable</td>
    <td>Rs 0.65 wherever State of Art facility provided</td>
    <td>Rs 235</td>
  </tr>
  <tr>
    <td>Perishable</td>
    <td>Rs. 1.30 for Live stock</td>
    <td>Rs. 235</td>
  </tr>

</table>

        <p class="w3-text-teal"><b>Import Fare</b></p>
        <table>
  <tr>
    <th>Type of Cargo</th>
    <th>Rate per kg</th>
    <th>Minimum rate per consignment</th>
  </tr>
  <tr>
    <td>General</td>
    <td>Rs. 4.00</td>
    <td>Rs. 100</td>
  </tr>
  <tr>
    <td>Special(Hazardous/Cold Storage)</td>
    <td>Rs 8.00</td>
    <td>Rs 200</td>
  </tr>
  <tr>
    <td>Valuable</td>
    <td>Rs 8.00</td>
    <td>Rs 500</td>
  </tr>


</table>


    </div>

    </div>
  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal"></h1>
      <p></p>
    </div>
    <div class="w3-third w3-container">
    </div>
  </div>


  <!-- Pagination -->




<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>
</div>
</body>
</html>
