<!DOCTYPE html>
<html>
<title>Cargo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">HOME</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white"></a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Manage Shipment</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Cargo Booking</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About us</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Help and Support</a>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:43px;" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Quick Links</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Guideline</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Cargo Procedure</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Charge Calculator</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Disclaimer</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">FAQ</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Help and Suppport</h1>
      <p><b># Cargo Operations:</b><br>Helpdesk  (E) DIAL.ICMSAdmin@gmrgroup.in,(T) +91-11-25601017/77<br>CELEBI Helpdesk-(E) Helpdesk@celebiaviation.in, (T) +91-11-25601001/33</p>
	  <p><br><b># Surface Connectivity-Bonded Tucking:</b><br>Mr. Lakshay Suri – (E) laksh.suri@yahoo.co.in, (T) +91-9810668182<br> Mr. Yogesh Kumar - (E) yogeshkumar@yahoo.co.in, (T) +91-11-47197789</p>
	  <p><br><b># Business Development:</b><br>Mr. Abhishek Nigam – (E) abhisheknigam@gmrgroup.in, (T) +91-11-47197783</p>
	  <p><br><b>#Registered Office Address:</b><br>Delhi International Airport Limited<br>New Udaan Bhawan,<br> Opp. Terminal-3,Indira Gandhi International Airport<br>New Delhi – 110 037<br>www.newdelhiairport.in</p>


    </div>
   <div class="w3-third w3-container">
	      <p></p>

    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal"></h1>
      <p></p>
    </div>
    <div class="w3-third w3-container">
    </div>
  </div>


  <!-- Pagination -->


  <footer id="myFooter">
    <div>
      <h4></h4>
    </div>

    <div class="w3-container w3-theme-l1">
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
