/* Buttons section : Back/Delete/Edit*/
.options-div {
    display: table;
    margin: 0 auto;
}

/* Data in thumbnail apart from image*/
.caption-title {
    font-size: 50px;
}

.caption-fields span {
    color: #0B0B61;
}

/* Labels for displaying within tables */
.label {
    display: inline-block; /*by default display:inline, hence need to change to apply margin top/bottom correctly*/
    padding: 3px;
}
.label span {
    font-size: 11px;
}

/* Need to specific here to override bootstrap default styles
    To vertically centre text in table row
*/
.table tbody tr td {
    line-height: 3.5;
}

/* Styles for terminal/concourse and timing section */
.timings-terminal {
    background: #e1f2f4;
    padding: 10px;
    border: 2px dashed #598ef1;
    border-radius: 10px;
}

.timings-terminal h4 {
    font-size: 17px;
}

/* Styles for operation days */
.day {
    background: #276df1;
    color: #fff;
    border-radius: 5px;
    padding: 6px 8px;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}
/* Making days smaller on smaller screen sizes*/
@media (max-width: 487px) {
    .day {
      font-size: 12px;
      padding: 3px 4px;
    }
}

.back-btn {
    margin-left: 15px;
    margin-bottom: 10px;
}

/* Circle profile images */
.img-circle {
    height: 50px;
    width: 50px;
}

tr[data-href] { cursor: pointer }
