{% extends 'common/base.html' %}
{% load staticfiles %}

{% block title %}
<title>ATS - Baggage Handling</title>
{% endblock %}

{% block content %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
        .footer-space {height: 200px; }
    </style>

    <body>
        <header class="w3-container w3-red w3-center" style="padding:128px 16px">
            <h1 class="w3-margin w3-jumbo">Baggage Handling</h1>
            <marquee> Welcome to Baggage Handling Website!!!</marquee>
        </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-twothird">
          <h1 style="color:rgb(244,67,54);">Overview</h1>
          <h5 class="w3-padding-32">Delivering passengers bags from A to B sounds easy, but as we all know, it’s very easy for things to go wrong and given that passengers spend a lot of time worrying that their bags will go astray, baggage management is unsurprisingly a leading investment priority for airlines and airports.
              This Baggage Management is the most advanced, comprehensive and flexible baggage solution ever developed. It offers you greater efficiencies, reduced costs and happier passengers. You’ll know precisely where every bag in your care is at every step of its journey and, if it should be mishandled, how to return it to its owner fast.
          </h5>

        </div>

        <div class="w3-third w3-center">
          <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
        </div>

      </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-third w3-center">
          <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
        </div>

        <div class="w3-twothird">
          <h1 style="color:rgb(244,67,54);">Introduction</h1>
          <h5 class="w3-padding-32">A Baggage Handling System(BHS) is a type of conveyor installed in airports that transports checked luggage from ticket counters to areas where the bags can be loaded onto the airplanes.
    Although the primary function of a BHS is the transportation of bags, a typical BHS will serve other functions involved in making sure that a bag gets to the correct location in the airport. The process of identifying a bag, and the information associated with it, to make a decision on where the bag should be directed within the system is known as sortation. </h5>

         </div>


        </div>
        <div class="w3-twothird">
          <h1 style="color:rgb(244,67,54);">Main Functions of BHS</h1>
          <h5 class="w3-padding-32">

                1. Detection of bag jams<br>

                2. Volume regulation (to ensure that input points are controlled to avoid overloading system)<br>

                3. Load balancing (to evenly distribute bag volume between conveyor sub-systems)<br>

                4. Bag counting<br>

                5. Bag tracking<br>

                6. Redirection of bags via pusher or diverter<br>

                7. Automatic Tag Reader (ATR) (Reads the tags on the luggage provided by the airlines)<br>


          </h5>


        </div>
      </div>
    </div>

    <div class="w3-container w3-black w3-center w3-padding-64 w3-opacity">
        <h1 class="w3-margin w3-xlarge"style="color:rgb(244,67,54);" >Processes:</h1>
        <img src="{% static 'images/baggage_handling/type.PNG' %}"width="500" height="250" align="centre" border="4">
    </div>
        <br>
    <a class="btn btn-primary" href="{% url 'baggage_handling:add-baggage' %}"><span class="glyphicon glyphicon-pencil"></span> Add Baggage</a>
    <a class="btn btn-primary" href="{% url 'baggage_handling:list-baggage' %}"><span class="glyphicon glyphicon-pencil"></span> View Baggage</a>
    <div class="footer-space">
        <!--Empty just just to give space below-->
    </div>

    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    </body>

{% endblock %}