{% extends 'common/base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/baggage_handling/list_baggages.css' %}">
{% endblock %}

{% block content %}
    <h3> Baggage ID: {{baggage.pk }} </h3>
    <h3> PNR No: {{baggage.pnr_no }} </h3>
    <h3> Quantity: {{baggage.quantity }} </h3>
    <h3> Weight: {{baggage.weight}} </h3>
    <h3> Conveyor No: {{baggage.conveyor_no}} </h3>

<a class="btn btn-info" href="{% url 'baggage_handling:edit-baggage' baggage.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
<a class="btn btn-danger" href="{% url 'baggage_handling:delete-baggage' baggage.pk %}"> <span class="glyphicon glyphicon-trash"></span> Delete</a>

{% endblock %}

