<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of Flight</title>
</head>
<body>
    {% extends 'common/base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/flight_info/list_flights.css' %}">
{% endblock %}

{% block content %}

    <div class="table-responsive">

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <th>Airline</th>
                                    <th>Flight No</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Terminal</th>
                                    <th>Concourse</th>
                                    <th>Fare</th>
                                    <th>Scheduled Departure Time</th>
                                    <th>Revised Departure Time</th>
                                    <th>Scheduled Arrival Time</th>
                                    <th>Revised Arrival Time</th>
                                    <th>Operation Days</th>
                                    <th>Total Seats</th>
                                    <th>Booked Seats</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>

                                    <tr class=>
                                        <td>{{ post.airline.name }}</td>
                                        <td>{{ post.flight_no }}</td>
                                        <td>{{ post.origin }}</td>
                                        <td>{{ post.destination }}</td>
                                        <td>{{ post.terminal }}</td>
                                        <td>{{ post.concourse }}</td>
                                        <td>{{ post.fare }}</td>
                                        <td>{{ post.scheduled_departure|date:'d M H:i' }} hrs</td>
                                        <td>{{ post.revised_departure|date:'d M H:i' }} hrs</td>
                                        <td>{{ post.scheduled_arrival|date:'d M H:i' }} hrs</td>
                                        <td>{{ post.revised_arrival|date:'d M H:i' }} hrs</td>
                                        <td>{{ post.operation_days }}</td>
                                        <td>{{ post.total_seats }}</td>
                                        <td>{{ post.booked_seats }}</td>
                                        <td>
                                            {% if post.approved_plan == True %}
                                                {% if post.revised_departure == post.scheduled_departure %}
                                                    <div class="label label-success"><span>On Time</span></div>
                                                {% else %}
                                                    <div class="label label-warning"><span>Delayed</span></div>
                                                {% endif %}
                                            {% else %}
                                                <div class="label label-info"><span>Un-Approved</span></div>
                                            {% endif %}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div><!-- end table responsive -->

    <a href="../"> <button name="back" class="myButton">Back to All Flights</button></a>
    <a href="delete"> <button name="delete" class="myButton">Delete This Flight</button></a>


{% endblock %}

</body>
</html>
