{% extends 'common/base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/flight_info/detail_crew.css' %}">
{% endblock %}

{% block content %}

<div class="col-xs-12">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 user-content-div">
            <div class="row user-background" style='background-image: url("/static/images/flight_info/user_back_img.jpg");'>

            </div>
            <div class="row user-detail">

                <div class="col-xs-12">
                    <div class="img-section">
                        {% if crew.photo %}
                        <img src="{{ crew.photo.url }}" class="img-circle" alt="Crew Photo">
                        {% else %}
                        <img src="{% static 'images/flight_info/no_profile_img.gif' %}" class="img-circle" alt="Crew Photo">
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row detail-header">
                        <h2>{{ crew.name }}</h2>
                        <h4><em>
                            {% if crew.pilot == True %}
                                Pilot
                            {% else %}
                                Crew
                            {% endif %}
                        </em></h4>
                    </div>
                    <div class="row detail-content">
                        <div class="col-sm-6">
                            <ul class="left-list">
                                <li><span>Crew ID:</span> {{ crew.crew_id }}</li>
                                <li><span>Experience:</span> {{ crew.experience }}</li>
                                <li><span>License No:</span> {{ crew.license_no }}</li>
                                <li><span>Contact No:</span> {{ crew.ph_no }}</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="right-list">
                                <li>
                                    <span>Status:</span>&nbsp;
                                    {% if crew.in_service == True %}
                                    <span class="label label-info">In Service</span>
                                    {% else %}
                                    <span class="label label-warning">Off Service</span>
                                    {% endif %}
                                </li>
                                <li>
                                    <span>Flights:</span>
                                    <ul>
                                        {% for flight in crew.flights.all %}
                                        <li>{{ flight.airline.flight_prefix }}&nbsp;{{ flight.flight_no }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="edit-btn">
                                    <a href="{% url 'flight_info:edit-crew' crew.crew_id %}" class="btn btn-primary">Edit&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}