{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
<title>ATS - Accounts</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/accounts.css' %}">
{% endblock %}


{% block content %}
<div class="container box">
    <div class="col-sm-12">

        <!--enctype added since we are also accepting images by this form in some cases-->
        <form action="" method="post" class="" enctype="multipart/form-data">
            <h3>{{ title_message }}</h3>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-lg btn-default btn-block green" type="submit">{{ submit_message }}</button>
        </form>
    </div>
</div>
{% endblock %}