<h2 class="blue">Parking Facilities</h2>
<p  class="black">
    <b>Multi Level Car Parking (MLCP):</b> For the convenience of our passengers, there is a six storied multi level
    car parking facility available across from Terminal which can accommodate upto 4300 vehicles at any given point.
    The parking can be accessed via an elevated footbridge that attaches the terminal to the garage or by crossing the
    road on foot to the entrance of the terminal.
</p>
<h3 class="blue">Features:</h3>
<br/>
    <ul>
        <li><b>Safe and Secure:</b> Well lit car parking area, with a 24 hr CCTV surveillance, cars manually screened by
            CISF guards and private security marshals.
        </li>
        <li><b>Convenient:</b> Terminal has connecting Travelators (automated passenger walkways) so that passengers can
            move conveniently from Terminal to the Multi Level Car Parking.
        </li>
        <li><b>User Friendly:</b> Fully automated parking system through automatic ticket dispenser’s providing easy
            entry & exit.
        </li>
    </ul>
<br/>
<p>The car park facility has two ramps for entry and two ramps for exit on each level for easy access to vacant parking
    slots. The Parking Guidance System assists in advising the driver on available parking slots at each level.
    Centralized Pay Stations are available at each exit point allowing for congestion free, easy exit. The Multi Level
    Car Park offers a florist, a snack shop and a gift shop. Drinking water and toilets are available at all levels.
    Staff is available to assist you 24 hours.
</p>
<p class="red"><i>24 hrs Customer Care<br/>
     Contact Us: AAI Interns :)</i>
</p>
