{% extends 'common/base.html' %}
{% load staticfiles %}

{% block title %}
<title>ATS - Parking Service</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/parking/parking.css' %}">
{% endblock %}

{% block content %}
<h1 class="thick"><span class="glyphicon glyphicon-road"></span> Parking Service</h1>
<div class="row">
  <div class="col-sm-8">
      {% include 'parking/parking_content.html' %}
      {% if request.user.is_superuser or request.user.is_staff %}
      <div class="panel panel-primary">
          <div class="panel-heading">
              <span class="glyphicon glyphicon-plus"></span>
              <a class="white"  href="/parking/add/"> Add New Vehicle Entry - Click Here </a>
          </div>
      </div>
      <div class="panel panel-primary">
          <div class="panel-heading">
              <span class="glyphicon glyphicon-search"></span>
              <a class="white" data-toggle="collapse" href="#search_collapse"> Search & Delete Vehicle Entry - Click Here </a>
          </div>
          <div class="center">{% include 'parking/vehicle_search.html' %}</div>
      </div>
      {% endif %}
  </div>
  <div class="col-sm-4">
      <div class="panel panel-primary">
      <div class="panel-heading">Parking Charges</div>
        <div class="center">{% include 'parking/parking_charges.html' %}</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Parking Spots Tracker</div>
        <div class="panel-body">{% include 'parking/parking_spots_track.html' %}</div>
      </div>
  </div>
</div>
{% endblock %}
